ul.events-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

ul.events-list li {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

ul.events-list li header {
  width: 100%;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

ul.events-list li strong {
  margin-top: 12px;
  font-size: 24px;
  color: #a5116f;
}

div.filter-panel {
  display: none;
}

ul.events-list header div {
  display: flex;
  flex-direction: row-reverse;
}

ul.notifications {
  list-style: none;
  margin-bottom: 16px;
}

ul.notifications li {
  font-size: 16px;
  line-height: 24px;
}

.event-btn {
  margin-top: auto;
}

.event-categories {
  margin-bottom: 25px;
  text-align: center;
}

.eve-desc {
  margin-bottom: 10px;
}

@media (min-width: 625px) {
  ul.events-list li {
    width: 50%;
  }
}

@media (min-width: 768px) {
  ul.events-list li {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  ul.events-list li {
    width: 25%;
  }
}

@media (min-width: 1500px) {
  ul.events-list li {
    width: 20%;
  }
}

@media (max-width: 548px) {
  .event-categories {
    display: none;
  }

  div.filter-panel {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
